<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/index.css">
        <title>Daily</title>
    </head>

    <body>
        <div class="context">
            {% if messages %}
              {% for message in messages %}
                <div>{{ message.message }}</div>
              {% endfor %}
            {% endif %}

            <h4>ログイン</h4>

            <form method="POST">
                {% csrf_token %}
                {{ login_form.as_p }}
                <input type="submit" value="ログイン">
            </form>

            <br>
            <a href="{% url 'daily:register' %}"><button>新規ユーザー作成をする</button></a>
        </div>
    </body>
</html>