{% extends "base.html" %}
{% block content %}
{% include "daily/food/food_base.html" %}

<h4>食事を投稿しよう！</h4>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ food_input_form.as_p }}
    <input id="submit" type="submit" value="投稿" disabled="disabled">
</form>

<script type="text/javascript">
      window.onload = $(function () {
          FoodInputController();

          date = new Date(new Date().setHours(0, 0));
          $('#id_ate_at').datetimepicker({
            step:10, //10分刻み
            format:'Y-m-d H:i', //フォーマット指定
            maxDate: date, //指定可能日は最大で当日までに指定
          });
      });
</script>

{% endblock %}